@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Archivo Black";
  src: url("../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
* {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 162.5%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  background-color: #fcfaf9;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-size: inherit;
  font-weight: 400;
}

li,
span,
p,
a {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
p,
a {
  color: #1b1f21;
}

/*  */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Archivo Black";
  src: url("../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Archivo Black";
  src: url("../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/static/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Archivo Black";
  src: url("../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
#app {
  min-height: 100%;
  position: relative;
}

.__container {
  max-width: 1206px;
  margin: 0 auto;
}

.link-category {
  border-radius: 20px;
  background-color: transparent;
  padding: 8px 18px;
  border: 1.2px solid #e8e8e8;
  font-size: 15px;
  font-weight: 500;
  text-wrap: nowrap;
}

.link-category--design:hover, .link-category--design:active {
  background-color: #ec95b1;
}

.link-category--programming:hover, .link-category--programming:active {
  background-color: #a4ccfe;
}

.link-category--gaming:hover, .link-category--gaming:active {
  background-color: #bedb39;
}

.link-category--marketing:hover, .link-category--marketing:active {
  background-color: #ffad20;
}

.link-category--software:hover, .link-category--software:active {
  background-color: #acd6de;
}

.link-category--career:hover, .link-category--career:active {
  background-color: #aedfd6;
}

.header {
  position: absolute;
  top: 0;
  font-family: "Nunito", sans-serif;
  padding: 17.5px 0px;
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .header__container {
    padding: 0px 34px;
  }
}
@media (max-width: 767px) {
  .header__container {
    padding: 0px 8px;
  }
}
.header__logo-block {
  height: 40px;
}
.header__logo-block:hover path {
  fill: #da3369;
}
.header__logo-block svg:first-child {
  margin-right: 5px;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
@media (max-width: 1279px) {
  .header__navigation {
    justify-content: flex-start;
    top: 81px;
    position: absolute;
    width: 90%;
    overflow-x: auto;
    scrollbar-width: none;
  }
}
.header__nav-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  width: -moz-max-content;
  width: max-content;
}
.header__nav-item {
  flex-shrink: 0;
  margin-right: 10px;
}
.header__search-block {
  display: flex;
}
.header__search-block > button {
  background-color: transparent;
  border: none;
}
.header__search-block > button:first-child {
  margin-right: 26px;
}
.header__link-ebac {
  display: flex;
  position: relative;
}
.header__link-ebac::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5px;
  width: 0;
  background-color: #bedb39;
  transition: width 0.3s ease-in-out;
}
.header__link-ebac:hover::after {
  width: 100%;
}
.header__link-ebac span {
  margin-right: 9px;
}/*# sourceMappingURL=style.css.map */