@import 'reset';
@import 'variables';
@import 'mixins';
@import 'animations';
@import 'fonts';

#app {
	min-height: 100%;
	position: relative;
}
.__container {
	max-width: 1206px;
	margin: 0 auto;
	// padding: 0 0;
}
//----for-ui-components:
.link-category {
	border-radius: 20px;
	background-color: transparent;
	padding: 8px 17px;
	border: 1.2px solid $btn-border;
	font-size: 15px;
	font-weight: 500;
	text-wrap: nowrap;
	@include transition(background-color);
	&:hover,
	&:active {
		@include transition(background-color);
	}
	&--design {
		&:hover,
		&:active {
			background-color: $label-design;
		}
	}
	&--programming {
		&:hover,
		&:active {
			background-color: $label-programming;
		}
	}
	&--gaming {
		&:hover,
		&:active {
			background-color: $label-gaming;
		}
	}
	&--marketing {
		&:hover,
		&:active {
			background-color: $label-marketing;
		}
	}
	&--software {
		&:hover,
		&:active {
			background-color: $label-software;
		}
	}
	&--career {
		&:hover,
		&:active {
			background-color: $label-career;
		}
	}
}

//<-----HEADER----->
.header {
	position: absolute;
	top: 0;
	font-family: $font-secondary;
	padding: 17.5px 0px;
	position: relative;
	&__container {
		@include flex-horizontal-center;
		justify-content: space-between;
		@media (max-width: 1279px) {
			& {
				padding: 0px 34px;
			}
		}
		@media (max-width: 767px) {
			& {
				padding: 4px 10px 0 10px;
			}
		}
	}
	&__logo-block {
		height: 40px;
		width: 120px;
		& a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
		& path {
			@include transition(fill);
		}
		&:hover {
			path {
				@include transition(fill);
				fill: #da3369;
			}
		}
		& svg:first-child {
			margin-right: 5px;
		}
		@media (max-width: 767px) {
			& svg {
				transform: scale(1.2);
				&:first-child {
					margin-right: 15px;
				}
			}
		}
	}
	&__navigation {
		@include flex-horizontal-center;
		justify-content: center;
		white-space: nowrap;
		@media (max-width: 1279px) {
			& {
				justify-content: flex-start;
				top: 81px;
				position: absolute;
				width: 97%;
				height: 40px;
				overflow-x: auto;
				scrollbar-width: none;
			}
		}
	}
	&__nav-list {
		display: flex;
		flex-wrap: nowrap;
		padding: 0;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
	}
	&__nav-item {
		flex-shrink: 0;

		margin-right: 10px;
	}
	&__search-block {
		display: flex;
		& > button {
			background-color: transparent;
			border: none;
		}
	}
	&__button-search {
		margin-right: 26px;
		@include transition(filter);
		&:hover {
			@include transition(filter);
			filter: brightness(4);
		}
	}
	&__link-ebac {
		display: flex;
		position: relative;
		font-weight: 500;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1.5px;
			width: 0;
			background-color: $label-gaming;
			@include transition(width);
		}
		&:hover::after {
			width: 100%;
		}
		& span {
			margin-right: 9px;
		}
	}
}
// ---- Article-preview
.article-preview {
	&__container {
		@include flex-horizontal-center;
		margin-top: 100px;
	}
	&__image-wrapper {
		position: relative;
		height: 560px;
		& img {
			width: 100%;
			height: 100%;
		}
	}
	&__img {
		clip-path: url(#article-preview-mask);
		min-width: 480px;
		max-height: 560px;
	}
	&__sticker {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 180px;
		max-height: 180px;
	}

	&__content {
		margin-left: 40px;
	}
	&__category {
		font-family: $font-secondary;
		margin-bottom: 18px;
		& span {
			border-radius: $radius;
			color: $primary;
			padding: 8px 18px;
		}
		&,
		ul {
			@include flex-horizontal-center;
		}

		ul {
			margin-left: 16px;
			& li:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
	&__category--gaming {
		color: $label-gaming;
		& span {
			background-color: $label-gaming;
		}
	}
	&__title {
		font-size: 36px;
		line-height: calc(42 / 36 * 100%);
		max-width: 580px;
	}
	&__description,
	&__info {
		font-family: $font-secondary;
	}
	&__description {
		margin: 16px 0;
		font-size: 18px;
		color: $text-gray;
		max-width: 460px;
	}
	&__info {
		color: $light-gray;
		margin-bottom: 56px;
		& > span:first-child {
			margin: 0 24px 0 20px;
		}
	}
	&__reading-time,
	&__date {
		position: relative;
		&::before {
			position: absolute;
			left: -20px;
		}
	}
	&__date {
		&::before {
			content: url();
		}
	}
	&__reading-time {
		&::before {
			content: url();
		}
	}
	&__button {
		background-color: $label-gaming;
		border: 1px solid black;
		border-radius: calc($radius * 2);
		padding: 15px 55px;
		display: inline-block;
		font-size: 18px;
		border: 3px solid transparent;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border: 2px solid black;

			border-radius: $radius;
		}
	}
}
.article-preview--gaming {
	margin-top: 80px;
}
