//----for-ui-components:
.link-category {
	border-radius: 20px;
	background-color: transparent;
	padding: 8px 17px;
	border: 1.2px solid $btn-border;
	font-size: 15px;
	font-weight: 500;
	text-wrap: nowrap;
	@include transition(background-color);
	&:hover,
	&:active {
		@include transition(background-color);
	}
	&--design {
		&:hover,
		&:active {
			background-color: $label-design;
		}
	}
	&--programming {
		&:hover,
		&:active {
			background-color: $label-programming;
		}
	}
	&--gaming {
		&:hover,
		&:active {
			background-color: $label-gaming;
		}
	}
	&--marketing {
		&:hover,
		&:active {
			background-color: $label-marketing;
		}
	}
	&--software {
		&:hover,
		&:active {
			background-color: $label-software;
		}
	}
	&--career {
		&:hover,
		&:active {
			background-color: $label-career;
		}
	}
	//
	&--fashion-li {
		background-color: $label-fashion;
		border: none;
	}
	&--design-li {
		background-color: $label-design;
		border: none;
	}
	&--programming-li {
		background-color: $label-programming;
		border: none;
	}
	&--gaming-li {
		background-color: $label-gaming;
		border: none;
	}
	&--marketing-li {
		background-color: $label-marketing;
		border: none;
	}
	&--software-li {
		background-color: $label-software;
		border: none;
	}
	&--career-li {
		background-color: $label-career;
		border: none;
	}
}
.running-line {
	overflow: hidden;
	position: relative;
	z-index: 3;
	padding: 40px 0px;
	left: -5px;
	width: 105vw;
	&__content {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}
	&__items {
		display: flex;
	}
	&__content h2 {
		display: flex;
		align-items: center;
		white-space: nowrap;
		flex-shrink: 0;
		// padding: 0 50px;
		font-size: 58px;
		font-weight: 900;
	}
	& img {
		transform: rotate(4deg);
		margin: 0 48px;
	}
	@media (width <= 1279px) {
		padding: 20px 0px;
		&__content h2 {
			padding: 0 30px;
			font-size: 30px;
		}
	}
	&--articles {
		background-color: $label-software;
		transform: rotate($deg);

		.running-line {
			&__items {
				-webkit-animation: scrollText 20s linear infinite;
				animation: scrollText 20s linear infinite;
			}
		}
		@media (width <= 1279px) {
			transform: rotate(-3deg);
			top: -30px;
		}
		@media (width <= 1279px) {
			transform: rotate(-4deg);
			top: -90px;
		}
	}
	&--webinars {
		position: relative;
		top: -47px;
		background-color: $label-marketing;
		transform: rotate(-3deg);
		@media (width >= 2000px) {
			transform: rotate(0deg);
		}
		@media (width <= 1279px) {
			top: -70px;
		}
		@media (width <= 769px) {
			transform: rotate(-4deg);
		}
		.running-line {
			&__items {
				-webkit-animation: scrollText--reverse 15s linear infinite;
				animation: scrollText--reverse 15s linear infinite;
			}
		}
	}
	&--subscribe {
		position: relative;
		top: -137px;
		background-color: $red;
		transform: rotate(2deg);
		z-index: 2;
		@media (width >= 2000px) {
			transform: rotate(0deg);
		}
		@media (width <= 1279px) {
			transform: rotate(3deg);
		}
		.running-line {
			&__items {
				-webkit-animation: scrollText 20s linear infinite;
				animation: scrollText 20s linear infinite;
			}
		}
	}
	&--footer {
		background-color: $pink;
		& h2 {
			color: $bg-primary;
		}
		.running-line {
			&__items {
				-webkit-animation: scrollText 20s linear infinite;
				animation: scrollText 20s linear infinite;
			}
		}
	}
}
.mt-200px {
	margin-top: 200px;
}
.mb-150px {
	margin-bottom: 150px;
}
.button-todos {
	background-color: $purple;
	border: none;
	color: $bg-primary;
	padding: 20px 58px;
	font-size: 18px;
	border-radius: 40px;
	font-weight: 700;
	@include transition(background-color);
	&:hover,
	&:active {
		@include transition(background-color);
		background-color: $bg-block;
		box-shadow: 0px 0px 5px $bg-primary;
	}
	&:disabled {
		opacity: 60%;
	}
	&:focus {
		border: 2px solid $bg-block;
	}
}

.subscribe-input {
	border: 2px solid $bg-primary;
	border-radius: 88px;
	background-color: transparent;
	font-size: 18px;
	font-weight: 500;
	padding: 13px 28px;
	color: $bg-primary;
	&::-webkit-input-placeholder {
		color: $bg-primary;
	}
	&::-moz-placeholder {
		color: $bg-primary;
	}
	&:-ms-input-placeholder {
		color: $bg-primary;
	}
	&::-ms-input-placeholder {
		color: $bg-primary;
	}
	&::placeholder {
		color: $bg-primary;
	}
	&:disabled {
		opacity: 60%;
	}
	&:focus {
		border: 2px solid #1b1f21;
	}
	&:invalid,
	&:valid {
		background-repeat: no-repeat;
		background-position: 95%;
	}
	&:not(:placeholder-shown):invalid {
		border-color: $label-marketing;
		background-image: url('/public/assets/icons/icon-form-error.svg');
	}

	&:valid {
		border-color: $label-gaming;
		background-image: url('/public/assets/icons/icon-form-correct.svg');
	}
}
.subscribe-button {
	border-radius: 40px;
	background-color: $red;
	font-size: 18px;
	font-weight: 500;
	padding: 14px 116px;
	color: $bg-primary;
	@include transition(background-color);
	&:hover,
	&:active {
		@include transition(background-color);
		background-color: $bg-block;
		box-shadow: 0px 0px 5px $bg-primary;
	}
	&:disabled {
		opacity: 60%;
	}
	&:focus:not(:active) {
		border: 2px solid $bg-block;
	}
}
.subscribe-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	bottom: 20px;
	left: 5px;
	& + label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		& a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	& + label::before {
		content: '';
		position: relative;
		top: -7px;
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		flex-shrink: 0;
		flex-grow: 0;
		border-radius: 0.25em;
		margin-right: 1em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 60% 60%;
		background-color: $bg-primary;
	}
	&:checked + label::before {
		background-image: url('/public/assets/icons/icon-check-mark.svg');
	}
	&:focus:not(:checked) + label::before {
		box-shadow: 0 0 0 0.15rem $bg-block;
	}
	&:disabled + label::before {
		opacity: 60%;
	}
}
.footer-learning-button {
	border-radius: 40px;
	background-color: transparent;
	font-size: 18px;
	font-weight: 500;
	padding: 13px 57px;
	color: $bg-primary;
	border: 1.4px solid $bg-primary;
	@include transition(all);
	&:hover,
	&:active {
		@include transition(all);
		background-color: $bg-primary;
		color: $bg-block;
	}
	&:disabled {
		opacity: 60%;
	}
	&:focus {
		outline: none;
		border: 2.4px solid $bg-primary;
	}
	&:focus-visible {
		border: 2.4px solid $bg-primary;
	}
}
.footer-subscribe-button {
	border-radius: 40px;
	background-color: $purple;
	font-size: 18px;
	font-weight: 500;
	padding: 13px 57px;
	color: $bg-primary;
	@include transition(background-color);
	&:hover,
	&:active {
		@include transition(background-color);
		background-color: $pink;
	}
	&:disabled {
		opacity: 60%;
	}
	&:focus {
		outline: none;
		border: 2.4px solid $bg-primary;
	}
	&:focus-visible {
		border: 2.4px solid $bg-primary;
	}
}
.img-accordion {
	transform: rotate(180deg);
}
.rotated {
	@include transition(transform);
	transform: rotate(0deg);
}
