//----for-ui-components:
.link-category {
	border-radius: 20px;
	background-color: transparent;
	padding: 8px 17px;
	border: 1.2px solid $btn-border;
	font-size: 15px;
	font-weight: 500;
	text-wrap: nowrap;
	@include transition(background-color);
	&:hover,
	&:active {
		@include transition(background-color);
	}
	&--design {
		&:hover,
		&:active {
			background-color: $label-design;
		}
	}
	&--programming {
		&:hover,
		&:active {
			background-color: $label-programming;
		}
	}
	&--gaming {
		&:hover,
		&:active {
			background-color: $label-gaming;
		}
	}
	&--marketing {
		&:hover,
		&:active {
			background-color: $label-marketing;
		}
	}
	&--software {
		&:hover,
		&:active {
			background-color: $label-software;
		}
	}
	&--career {
		&:hover,
		&:active {
			background-color: $label-career;
		}
	}
	//
	&--design-li {
		background-color: $label-design;
		border: none;
	}
	&--programming-li {
		background-color: $label-programming;
		border: none;
	}
	&--gaming-li {
		background-color: $label-gaming;
		border: none;
	}
	&--marketing-li {
		background-color: $label-marketing;
		border: none;
	}
	&--software-li {
		background-color: $label-software;
		border: none;
	}
	&--career-li {
		background-color: $label-career;
		border: none;
	}
}
