@use "../../assets/styles/variables" as *;
.result-page {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  * {
    color: white;
  }

  &__headings {
    font-size: 32px;
  }

  &__container {
    width: 856px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__table-wrapper {
    max-height: 800px;
    overflow-y: auto;
  }

  &__table {
    width: 800px;
    max-width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-radius: 12px;
    border: 1px solid #ccc;

    th,
    td {
      border: 1px solid #ccc;
      padding: 8px 12px;
      vertical-align: top;
    }

    th {
      cursor: pointer;
      font-weight: bold;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__pagination-btn {
    background-color: transparent;
    font-size: 22px;
    &--active {
      color: $pink;
    }
  }
  &__sort-img {
    width: 20px;
  }
  &__sort-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      opacity: 0.6;
    }
  }
}
