@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;
.email-input {
  border: 2px solid $white-primary;
  border-radius: 88px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 28px;
  color: $white-primary;
  &::-webkit-input-placeholder {
    color: $white-primary;
    font-size: 18px;
    font-family: "Nunito";
  }
  &::-moz-placeholder {
    color: $white-primary;
    font-size: 18px;
    font-family: "Nunito";
  }
  &:-ms-input-placeholder {
    color: $white-primary;
    font-size: 18px;
    font-family: "Nunito";
  }
  &::-ms-input-placeholder {
    color: $white-primary;
    font-size: 18px;
    font-family: "Nunito";
  }
  &::placeholder {
    color: $white-primary;
    font-size: 18px;
    font-family: "Nunito";
  }
  &:disabled {
    opacity: 60%;
  }
  &:focus {
    border: 2px solid #1b1f21;
  }
  &--invalid,
  &--valid {
    background-repeat: no-repeat;
    background-position: 95%;
  }
  &--invalid {
    border-color: $label-marketing;
    background-image: url("/icons/invalid.svg");
  }

  &--valid {
    border-color: $label-gaming;
    background-image: url("/icons/valid.svg");
  }
}
