@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
.logo {
  position: relative;
  cursor: pointer;
  &__img {
    @include transition(filter);
  }
  &:hover {
    a img {
      @include transition(filter);
      filter: invert(23%) sepia(100%) saturate(426%) hue-rotate(282deg)
        brightness(0.97) contrast(1.1);
    }
  }
}
