@use "../../assets/styles/_mixins.scss" as *;
@use "../../assets/styles/_variables.scss" as *;

.articles-block {
  padding-bottom: 155px;
  &__wrapper {
    @include line-background(
      "/img/backgrounds/article-block-small.png",
      "/img/backgrounds/article-block-middle.png",
      "/img/backgrounds/article-block-big.png",
      cover,
      no-repeat
    );
  }
  &__container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 136px;
    column-gap: 40px;
    -moz-column-gap: 40px;
  }

  & article {
    &:nth-child(3) {
      grid-column: 1 / span 2;
    }
  }
  @include responsive-articles-block;
}
