@use "../../assets/styles/_mixins.scss" as *;
@use "../../assets/styles/_variables.scss" as *;

.article-preview {
  padding-top: 155px;
  @media (width <= 1279px) {
    padding-top: 170px;
  }
  @media (width <= 767px) {
    padding-top: 149px;
  }
  &__container {
  }
}
