@use "../../assets/styles/_mixins.scss" as *;
@use "../../assets/styles/_variables.scss" as *;

.article-preview {
  padding-top: 152px;
  padding-bottom: 126px;

  @include media-padding(1279px, 182px, 56px);
  @include media-padding(767px, 149px, 35px);

  &__wrapper {
    padding-bottom: 201px;

    @include media-padding(1279px, null, 182px);
    @include media-padding(767px, null, 165px);
  }
}
