@use "../../assets/styles/_mixins.scss" as *;
@use "../../assets/styles/_variables.scss" as *;

.article-preview {
  padding-top: 150px;
  padding-bottom: 126px;
  @media (width <= 1279px) {
    padding-top: 182px;
    padding-bottom: 56px;
  }
  @media (width <= 767px) {
    padding-top: 149px;
    padding-bottom: 35px;
  }
}
