.timer {
  padding-top: 30px;
  font-size: 28px;
  text-align: center;
  @media (width <= 830px) {
    font-size: 16px;
  }
  @media (width <= 580px) {
    font-size: 12px;
    line-height: 12px;
  }
  &__title {
    margin-bottom: 10px;
  }
}
