@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables.scss" as *;
.navButton {
  border-radius: 20px;
  background-color: transparent;
  padding: 9px 17px;
  border: 1.2px solid $btn-border;
  font-size: 15px;
  font-weight: 500;
  text-wrap: nowrap;
  @include transition(background-color);
  &:hover,
  &:active {
    @include transition(background-color);
  }
}
.Diseño {
  &:hover,
  &:active {
    background-color: $label-design;
  }
}
.ProgramaciónData {
  &:hover,
  &:active {
    background-color: $label-programming;
  }
}
.Gaming {
  &:hover,
  &:active {
    background-color: $label-gaming;
  }
}
.Marketing {
  &:hover,
  &:active {
    background-color: $label-marketing;
  }
}
.Software {
  &:hover,
  &:active {
    background-color: $label-software;
  }
}
.Carrera {
  &:hover,
  &:active {
    background-color: $label-career;
  }
}
