@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
.webButton {
  background-color: $purple;
  border: none;
  color: $white-primary;
  padding: 20px 61px;
  font-size: 18px;
  border-radius: 40px;
  font-weight: 700;
  @include transition(background-color);
  &:hover,
  &:active {
    @include transition(background-color);
    background-color: $pink;
  }
  &:disabled {
    opacity: 60%;
  }
  &:focus {
    border: 2px solid $white-primary;
  }
}
