@-webkit-keyframes scrollText {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
@keyframes scrollText {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
