@import 'reset';
@import 'variables';
@import 'mixins';
@import 'animations';
@import 'fonts';
@import 'header/header';
@import 'article-preview/article-preview';
@import 'ui/ui';
#app {
	position: relative;
}
.__container {
	max-width: 1206px;
	margin: 0 auto;
	// padding: 0 0;
}
.blocks {
	position: relative;
}
.ibg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: fit-content;
	@media (max-width: 1279px) {
		& {
			top: 50px;
		}
	}
}
