@use "../../assets/styles/_mixins.scss" as *;
@use "../../assets/styles/_variables.scss" as *;

.articles-block {
  &__container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 136px;
    column-gap: 40px;
    -moz-column-gap: 40px;

    @media (width <= 1279px) {
      padding: 0 32px;
      row-gap: 104px;
      column-gap: 24px;
    }

    @media (width <= 767px) {
      row-gap: 86px;
      padding: 0 8px;
      grid-template-columns: 1fr;
    }
    & article {
      &:nth-child(3) {
        grid-column: 1 / span 2;
      }

      @media (width <= 767px) {
        &:nth-child(3) {
          grid-column: 1;
        }
      }
    }
  }
}
