@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/keyframes" as *;
@use "../../assets/styles/variables" as *;
.k3loader {
  position: relative;
  width: 131px;
  // height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  & p {
    color: #111111a7;
    font-size: 43px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  & img {
    position: relative;
    left: -6px;
    top: 1px;
    animation: heartbeat 1.5s infinite;
  }
  &__wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 231, 208);

    z-index: 999;
  }
}
