@use "../assets/styles/variables" as *;
@use "../assets/styles/mixins" as *;
.article {
  display: flex;
  flex-direction: column;
  &__img-wrapper {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  &__sticker {
    position: absolute;
    @media (width <= 1279px) {
      width: 17%;
    }
    @media (width <= 767px) {
      width: 36%;
    }
  }
  &__tags {
    &_list {
      display: flex;
      align-items: center;
      order: 1;
      & li:first-child {
        padding: 7px 18px;
        border-radius: 20px;
        margin-right: 16px;
      }
      & li {
        margin-right: 10px;
      }
    }
  }
  &__content-wrapper {
  }
  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__description {
    order: 2;
  }
  &__info {
    display: flex;
    margin-top: 16px;
    order: 3;
    p {
      display: flex;
      color: $light-gray;
      margin-right: 24px;
      span {
        display: flex;
        align-items: center;
        margin-right: 8px;
      }
    }
  }
  &__button {
    margin-top: 53px;
    background-color: $label-gaming;
    border: 1px solid black;
    border-radius: calc($radius * 2);
    padding: 14px 53px;
    display: inline-block;
    font-size: 18px;
    border: 3px solid transparent;
    position: relative;
    box-shadow: inset 0 0 0 1.5px $bg-block;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      border-radius: 30px;
      box-shadow: 0 0 0 5px $label-gaming;
    }
  }
  &__title {
    @include transition(color);
    &--dark {
      @include transition(color);
      color: $white-primary;
    }
    &--light {
      @include transition(color);
      color: $bg-block;
    }
  }
  &__full-size {
    flex-direction: row;
    @media (width <= 1279px) {
      align-items: center;
      flex-direction: column;
    }
    .article {
      &__img-wrapper {
        max-width: 480px;
        width: 100%;
        max-height: 560px;
        @media (width <= 1279px) {
          max-width: 704px;
          max-height: 320px;
          &:first-child {
            width: 100%;
            height: 320px;
          }
        }
        @media (width <= 767px) {
          max-width: 304px;
          max-height: 352px;
          &:first-child {
            width: 100%;
            height: 352px;
          }
        }
      }
      &__sticker {
      }
      &__content-wrapper {
        padding-top: 43px;
        margin-left: 40px;
      }
      &__title {
        font-size: 36px;
        line-height: calc(43 / 36 * 100%);
        padding: 18px 0px 16px;
      }

      &__text {
        font-size: 18px;
        color: $text-gray;
        max-width: 450px;
        line-height: calc(28.5 / 18 * 100%);
      }
      @media (width >= 768px) and (width <= 1279px) {
        &__content-wrapper {
          padding-top: 24px;
          margin-left: 40px;
          max-width: 728px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &__content {
          flex-direction: row;

          align-items: start;
        }
        &__title {
          font-size: 26px;
          padding: 0px 0px 9px;
        }
        &__tags_list {
          position: relative;
          left: 10px;
          top: -4px;
          margin-top: 50px;
          padding-right: 25px;
          width: 480px;
          order: 1;
          justify-content: end;
          li:first-child {
            top: -46px;
            right: 18.5px;
            position: absolute;
          }
        }
        &__info {
          position: absolute;
          order: 2;
          flex-direction: column;
          align-items: end;
          top: 76px;
          left: 60px;
          p {
            flex-direction: row-reverse;
            margin-bottom: 5px;
            span {
              margin-left: 8px;
            }
          }
        }
        &__description {
          order: 3;
        }
        &__button {
          margin-top: 50px;
          left: -12px;
        }
      }
      @media (width <= 767px) {
        &__content-wrapper {
          margin: 0;
          padding: 18px 0px 0px 0px;
          display: flex;
          flex-direction: column;
          max-width: 304px;
        }

        &__title {
          font-size: 26px;
        }
      }
    }
  }
  &__compact {
    .article__img-wrapper {
      max-width: 584px;
      max-height: 328px;
    }
  }
  &__full-image {
    .article__img-wrapper {
      max-width: 1208px;
      max-height: 520px;
    }
  }
}
