.subscribe-block {
	margin-top: -40px;
	padding-bottom: 200px;
	* {
		color: $bg-primary;
	}
	@media (width <= 1279px) {
		padding: 0 32px 100px 32px;
	}
	@media (width <= 767px) {
		@include flex-horizontal-center;
		padding: 0 8px 100px 8px;
	}
	.__container {
		@media (width >= 768px) and (width <= 1279px) {
			max-width: 79%;
			margin: 0;
			max-width: 320px;
		}
		@media (width <= 767px) {
			max-width: 304px;
		}
	}
	&__container {
		display: flex;
		justify-content: space-between;
		background-color: $blue;
		clip-path: path(
			'M0 97.9696C0 43.8625 39.2109 0 87.58 0H1120.42C1168.79 0 1208 43.8625 1208 97.9696C1208 131.328 1193.1 160.793 1170.33 178.485C1193.1 196.177 1208 225.641 1208 259C1208 292.359 1193.1 321.823 1170.33 339.515C1193.1 357.207 1208 386.672 1208 420.03C1208 474.138 1168.79 518 1120.42 518H87.58C39.2109 518 0 474.138 0 420.03C0 386.672 14.9043 357.207 37.6702 339.515C14.9043 321.823 0 292.359 0 259C0 225.641 14.9043 196.177 37.6702 178.485C14.9043 160.793 0 131.328 0 97.9696Z'
		);
		background-image: url('/assets/images/backgrounds/subscribe-main-bg-1280px.png');
		background-repeat: no-repeat;
		background-position: 41% 22%;
		@media (width >= 768px) and (width <= 1279px) {
			clip-path: none;
			border-top-left-radius: 32px;
			border-bottom-left-radius: 32px;
			border-bottom-right-radius: 90px;
			border-top-right-radius: 90px;
			min-height: 498px;
			background-position: 35% 10%;
		}
		@media (width <= 767px) {
			clip-path: none;
			mask-image: url('/public/assets/images/backgrounds/subscribe-mask-320px.svg');
			mask-repeat: no-repeat;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__content-wrapper {
		padding: 64px 64px 64px 104px;
		@media (width <= 1279px) {
			padding: 40px 185px 20px 24px;
		}
		@media (width <= 767px) {
			padding: 65px 24px 60px 24px;
		}
	}

	&__info {
		& *:last-child {
			margin: 20px 0 85px 0;
			@media (width <= 1279px) {
				margin: 10px 0 77px 0;
			}
			@media (width <= 767px) {
				margin: 10px 0 82px 0;
			}
		}
	}

	&__title {
		font-size: 36px;
		font-weight: 800;
		line-height: calc(43 / 36 * 100%);
		max-width: 580px;
		@media (width <= 1279px) {
			font-size: 26px;
			line-height: calc(31 / 26 * 100%);
		}
		@media (width <= 767px) {
			padding: 0px 24px;
			max-width: 280px;
		}
	}

	&__text {
		font-size: 16px;
		max-width: 530px;
		@media (width <= 767px) {
			line-height: calc(28 / 16 * 100%);
			padding: 0px 24px;
		}
	}

	&__form-wrapper {
		position: relative;

		& button {
			margin-left: 11px;
		}
		& label {
			max-width: 570px;
			margin-top: 10px;
		}
		@media (width <= 1279px) {
			& form section {
				display: flex;
				align-items: start;
				row-gap: 16px;
				flex-direction: column;
			}
			& button {
				margin-left: 0px;
			}
			& label {
				font-size: 13px;
			}
		}
		@media (width <= 767px) {
			padding: 0px 12px;

			& form section {
				display: flex;
				align-items: center;
				row-gap: 8px;
			}
		}
	}

	&__illustration-wrapper {
		position: relative;
		width: 100%;
		max-width: 416px;
		@media (width >= 768px) and (width <= 1279px) {
			position: absolute;
			right: -82px;
		}
		@media (width <= 767px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__illustration-content {
		background-color: $bg-block;
		background-image: url('/assets/images/backgrounds/subscribe-letter-bg-1280px.png');
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		position: relative;
		right: -2px;
		clip-path: path(
			'M0 97.9696C0 43.8625 39.2342 0 87.632 0H328.368C376.766 0 416 43.8625 416 97.9696C416 131.328 401.087 160.793 378.307 178.485C401.087 196.177 416 225.641 416 259C416 292.359 401.087 321.823 378.307 339.515C401.087 357.207 416 386.672 416 420.03C416 474.138 376.766 518 328.368 518H87.632C39.2342 518 0 474.138 0 420.03C0 386.672 14.9132 357.207 37.6926 339.515C14.9132 321.823 0 292.358 0 259C0 225.641 14.9132 196.177 37.6926 178.485C14.9132 160.793 0 131.328 0 97.9696Z'
		);
		@media (width <= 1279px) {
			background-image: url('/assets/images/backgrounds/subscribe-letter-bg-768px.png');
			min-height: 498px;
			clip-path: none;
			mask-image: url('/public/assets/images/backgrounds/subscribe-letter-mask-768px.svg');
			mask-repeat: no-repeat;
		}
		& img {
			position: relative;
		}
		@media (width <= 767px) {
			min-height: 400px;
			max-width: 304px;
			right: 0;
			mask-image: url('/public/assets/images/backgrounds/subscribe-mask-320px.svg');
			mask-repeat: no-repeat;
		}
	}
	&__letter-blur-img {
		top: 73px;
		left: 160px;
		@media (width <= 1279px) {
			top: 110px;
			left: 68px;
			transform: scale(0.85);
		}
		@media (width <= 767px) {
			top: 52px;
			left: 93px;
		}
	}
	&__letter-img {
		top: 87px;
		left: 64px;
		@media (width <= 1279px) {
			top: 105px;
			left: -28px;
			transform: scale(0.72);
		}
		@media (width <= 767px) {
			top: 31px;
			left: -2px;
		}
	}
}
