@use "../../assets/styles/keyframes" as *;
.running-line {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  &__content {
    display: flex;
    animation: scroll 120s linear infinite;
  }

  &__text {
    padding: 40px 0;
    display: flex;
    align-items: center;

    font-size: 58px;
    font-weight: bold;
    @media (width <= 1279px) {
      padding: 20px 0;
      font-size: 30px;
    }
    img {
      margin: 0 46px;
      transform: rotate(2deg);
    }
  }
  &--articles {
    transform: rotate(-4deg);
    @media (width <= 1279px) {
      transform: rotate(-3deg);
    }
    @media (width <= 767px) {
      transform: rotate(-4deg);
    }
  }
}
