@use "../../assets/styles/_variables.scss" as *;

.game-board {
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: $back-transparent;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  &__loading-container {
    position: relative;
  }
  &__loading-img {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moroz-translate 120s ease 0s forwards;
    transform: translateX(150%);
    span {
      position: relative;
      right: -70px;
    }
  }
  @media (width <= 830px) {
    img {
      width: 200px;
      height: 40px;
    }
  }
}

@keyframes moroz-translate {
  0% {
    transform: translateX(-35%);
  }
  100% {
    transform: translateX(150%);
  }
}
