@use "../../assets/styles/_mixins.scss" as *;
@use "../../assets/styles/_variables.scss" as *;
.nav-accordion {
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $text-gray;
    margin-bottom: 32px;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    img {
      display: none;
      transform: rotate(180deg);
    }
  }

  &__list {
    & li a {
      word-wrap: break-word;
      color: $white-primary;
    }
    & li {
      line-height: calc(23 / 15 * 100%);

      max-width: 100px;
      margin-bottom: 8px;
    }
  }

  &--open {
    .nav-accordion {
      &__list {
        max-height: 100%;
      }
      &__title {
        img {
          transform: rotate(0deg);
        }
      }
    }
  }
  @include responsive-nav-accordion;
}
