@use "_variables.scss" as *;
//--------------------------------------------------------------------
@mixin flex-horizontal-center {
  display: flex;
  align-items: center;
}
//--------------------------------------------------------------------
@mixin transition($property...) {
  transition: $property 0.3s ease-in-out;
}
//--------------------------------------------------------------------
@mixin responsive-header {
  @media (width <= 1279px) {
    height: 120px;
  }
  &__container {
    @media (width <= 1279px) {
      padding: 15.5px 35px;
    }
    @media (width <= 767px) {
      padding: 15px 10px;
    }
  }

  &__logo-block {
    @media (width <= 767px) {
      div {
        transform: scale(1.1) translateX(4px);
      }
    }
  }
  &__navigation {
    @media (width <= 1279px) {
      justify-content: flex-start;
      top: 79px;
      position: absolute;
      width: 100%;
      height: 40px;
      overflow-x: auto;
      scrollbar-width: none;
    }
    @media (width <= 767px) {
      top: 75px;
    }
  }

  &__nav-item {
    @media (width <= 1279px) {
      margin-right: 12px;
    }
    @media (width <= 767px) {
      margin-right: 9px;
    }
  }

  &__link-ebac {
    @media (width <= 767px) {
      margin-left: 22px;
    }
  }
}

//для статей-------------------------------------------------------------
@mixin media-padding($max-width, $padding-top, $padding-bottom) {
  @media (max-width: $max-width) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
  }
}
//--------------------------------------------------------------------
@mixin article-media-img-wrapper() {
  @media (width <= 767px) {
    width: 304px;
    height: 352px;
  }
}
//--------------------------------------------------------------------
@mixin article-media-sticker() {
  @media (width <= 1279px) {
    transform: scale(0.55);
  }
}
//--------------------------------------------------------------------
@mixin article-media-full-size() {
  @media (width <= 1279px) {
    align-items: center;
    flex-direction: column;
  }

  .article {
    &__img-wrapper {
      max-width: 480px;
      width: 100%;
      max-height: 560px;

      @media (width <= 1279px) {
        max-width: 704px;
        max-height: 320px;

        &:first-child {
          width: 100%;
          height: 320px;
        }
      }

      @media (width <= 767px) {
        max-width: 304px;
        max-height: 352px;

        &:first-child {
          width: 100%;
          height: 352px;
        }
      }
    }

    &__content-wrapper {
      padding-top: 46px;
      margin-left: 40px;
    }

    &__title {
      font-size: 36px;
      line-height: calc(43 / 36 * 100%);
      padding: 18px 0px 16px;
    }

    &__text {
      font-size: 18px;
      color: $text-gray;
      max-width: 450px;
      line-height: calc(28.5 / 18 * 100%);
    }

    @media (width >= 768px) and (width <= 1279px) {
      &__content-wrapper {
        padding-top: 24px;
        max-width: 728px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__content {
        display: grid;
        grid-template-columns: 235px 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
          "tags description description"
          "info description description";
      }

      &__title {
        font-size: 26px;
        padding: 0px 0px 9px;
      }

      &__tags_list {
        grid-area: tags;
        position: relative;
        margin-right: 24px;
        align-items: end;
        flex-direction: column;

        ul {
          margin-top: 10px;
        }
      }

      &__info {
        position: relative;
        top: -23px;
        grid-area: info;
        margin: 0px 16px 0 0;
        flex-direction: column;

        p {
          margin: 0 0 5px 0;
          flex-direction: row-reverse;

          span {
            margin-left: 8px;
          }
        }
      }

      &__description {
        grid-area: description;
      }

      &__button {
        margin-top: 50px;
        left: -12px;
      }
    }

    @media (width <= 767px) {
      &__content-wrapper {
        margin: 0;
        padding: 18px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        max-width: 304px;
      }

      &__title {
        font-size: 26px;
        padding: 16px 0px 18px;
      }
    }
  }
}

@mixin article-media-compact() {
  .article {
    &__img-wrapper {
      max-height: 328px;

      @media (width <= 1279px) {
        &:first-child {
          width: 100%;
        }
      }

      @media (width <= 767px) {
        max-height: 352px;
      }
    }

    &__content-wrapper {
      margin-top: 32px;
    }

    &__title {
      font-size: 30px;
      line-height: calc(36 / 30 * 100%);
      padding: 18px 0px 14px;
    }

    &__text {
      font-size: 18px;
      color: $text-gray;
      max-width: 480px;
      line-height: calc(28.5 / 18 * 100%);
    }

    @media (width >= 768px) and (width <= 1279px) {
      &__content-wrapper {
        margin-top: 21.5px;
      }

      &__title {
        font-size: 24px;
        padding: 16px 0px 15px;
      }
    }

    @media (width <= 767px) {
      &__content-wrapper {
        margin: 17px 0;
      }

      &__title {
        padding: 15px 0 17px 0;
        font-size: 24px;
      }
    }
  }
}

@mixin article-media-full-image() {
  @media (max-width: 1279px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article {
    &__img-wrapper {
      max-width: 1208px;
      max-height: 520px;

      @media (max-width: 1279px) {
        max-width: 704px;
        max-height: 320px;
        width: 100%;
      }

      @media (max-width: 767px) {
        max-width: 304px;
        max-height: 352px;
      }
    }

    &__content-wrapper {
      margin-top: 47px;
    }

    @media (min-width: 768px) {
      &__content {
        display: grid;
        grid-template-columns: 395px 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
          "tags description description"
          "info description description";
      }

      &__tags_list {
        grid-area: tags;
        position: relative;
        margin-right: 20px;
        margin-top: 18px;
        justify-content: start;
        align-items: end;
        flex-direction: column;

        ul {
          margin-top: 10px;
        }
      }

      &__info {
        grid-area: info;
        margin: 10px 13px 0 0;
        flex-direction: column;

        p {
          margin: 0 0 5px 0;
          flex-direction: row-reverse;

          span {
            margin-left: 8px;
          }
        }
      }

      &__description {
        grid-area: description;
      }
    }

    &__title {
      font-size: 36px;
      line-height: calc(36 / 30 * 100%);
      padding: 0px 0px 8px;
    }

    &__text {
      font-size: 18px;
      color: $text-gray;
      max-width: 680px;
      line-height: calc(28.5 / 18 * 100%);
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      &__content-wrapper {
        margin-top: 22px;
      }

      &__content {
        grid-template-columns: 243px 1fr 1fr;
      }

      &__title {
        font-size: 26px;
      }

      &__tags_list {
        margin: 0;
        grid-area: tags;
        position: relative;
        margin-right: 24px;
      }

      &__info {
        grid-area: info;

        @media (max-width: 900px) {
          margin: -42px 16px 0 0;
        }

        flex-direction: column;

        p {
          margin: 0 0 5px 0;
          flex-direction: row-reverse;

          span {
            margin-left: 8px;
          }
        }
      }

      &__description {
      }
      &__button {
      }
    }

    @media (max-width: 767px) {
      &__content-wrapper {
        margin: 17px 0px 16px 0;
      }

      &__img-wrapper {
        max-width: 100%;
        max-height: 352px;
      }

      &__title {
        padding: 18px 0px 17px 0px;
        font-size: 24px;
      }
    }
  }
}
@mixin responsive-articles-block {
  @media (width <= 1279px) {
    padding-bottom: 217px;
  }

  @media (width <= 767px) {
    padding-bottom: 87px;
  }

  &__container {
    @media (width <= 1279px) {
      padding: 0 32px;
      row-gap: 104px;
      column-gap: 24px;
    }

    @media (width <= 767px) {
      row-gap: 86px;
      padding: 0 8px;
      grid-template-columns: 1fr;
    }
    & article {
      @media (width <= 767px) {
        &:nth-child(3) {
          grid-column: 1;
        }
      }
    }
  }
}
//--------------------------------------------------------------------
// для масок
@mixin article-media-mask($mask-mobile, $mask-tablet, $mask-desktop) {
  mask-image: url($mask-desktop);
  @media (max-width: 1279px) {
    mask-image: url($mask-tablet);
  }
  @media (max-width: 767px) {
    mask: url($mask-mobile) 0 0/100% 100%;
  }
}
//webinars
//--------------------------------------------------------------------
@mixin responsive-webinars-block {
  @media (width <= 1920px) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $bg-block;
  }

  @media (width <= 3458px) {
    margin-top: -195px;
    clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 84%);
  }
  @media (width <= 2899px) {
    margin-top: -153px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
  }
  @media (width <= 1600px) {
    margin-top: -90px;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  }
  @media (width <= 1279px) {
    margin-top: -90px;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 90%);
  }
  @media (width <= 767px) {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 95%);
  }

  &__container {
    @media (width >= 2899px) {
      padding: 311px 0 266px 0;
    }
    @media (width <= 1279px) {
      padding: 175px 32px 236px 32px;
    }
    @media (width <= 767px) {
      padding: 164px 8px 222px 8px;
    }
  }
  &__content {
    @media (width <= 767px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-row: repeat(3, auto);

      grid-template-areas:
        "title"
        "cards"
        "button";
    }
  }
  &__title {
    @media (width <= 1279px) {
      h2 {
        font-size: 28px;
      }
    }
    @media (width <= 767px) {
      grid-area: title;
    }
  }
  &__btn-wrapper {
    @media (width <= 767px) {
      margin-top: 110px;
      justify-self: center;
      width: 100%;
      button {
        width: 100%;
      }
      grid-area: button;
    }
  }
  &__cards {
    @media (width <= 1279px) {
      margin-top: 64px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 24px;
      height: 697px;
      & div:last-child {
        grid-column: 1 / span 2;
      }
    }
    @media (width <= 767px) {
      margin-top: 45px;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 16px;
      & div:last-child {
        grid-column: 1;
      }
    }
  }
}

//webinar-card------------------------------------------------------------------

@mixin responsive-webinar-card {
  @media (width <= 1279px) {
    padding: 24px;
  }

  &__header {
    @media (width <= 1279px) {
      height: fit-content;
    }
  }

  &__author-info {
    @media (max-width: 1279px) {
      width: 100%;
      p {
        max-width: 100%;
      }
    }
    @media (max-width: 767px) {
      width: 160px;
      h5 {
        font-size: 22px;
      }
      p {
        max-width: 80%;
      }
    }
  }
  &__text {
    @media (width <= 1279px) {
      padding: 15px 0 50px 0;
      p {
        font-size: 24px;
      }
    }
    @media (max-width: 767px) {
      padding: 16px 0 30px 0;
    }
  }
  &__date {
    @media (width <= 1279px) {
      p {
        max-width: 100%;
      }
    }
  }
}
//--------------------------------------------------------------------
@mixin responsive-subscribe-block {
  @media (width <= 1279px) {
    margin-top: 117px;
    padding: 0 32px 109px 32px;
  }
  @media (width <= 767px) {
    margin-top: 82px;
    padding: 0 8px 100px 8px;
  }
  &__container {
    @media (width <= 1279px) {
      mask-image: none;
      border-radius: 64px 90px 90px 64px;

      width: 100%;
    }
    @media (width <= 767px) {
      mask: url(/img/masks/subscribe-block-mask-small.png) 0 0/100% 100%;

      border-radius: none;
      display: flex;
      flex-direction: column;
    }
  }
  &__content-wrapper {
    @media (width <= 1279px) {
      clip-path: polygon(0% 0%, 82% 0, 82% 100%, 0 100%);
      mask-image: none;
      border-radius: 39px 300px 300px 39px;
      height: 498px;
      background-position: right;
      background-size: 100% 100%;
      background-color: $blue;
      width: 100%;
    }

    @media (width <= 944px) {
      clip-path: polygon(0% 0%, 77% 0, 77% 100%, 0 100%);
    }
    @media (width <= 767px) {
      clip-path: none;
      border-radius: 0;
      height: 100%;
      padding-bottom: 170px;
    }
  }
  &__content {
    @media (width <= 1279px) {
      max-width: 418px;
      padding: 40px 24px 40px 24px;

      h2 {
        font-size: 26px;
      }
      p {
        line-height: calc(29 / 18 * 100%);
      }
    }
    @media (width <= 767px) {
      max-width: 100%;
      padding: 65px 24px 40px 24px;
    }
  }
  &__illustration {
    @media (width <= 1279px) {
      z-index: 1;
      min-width: 288px;
      height: 498px;
      background: url(/img/form/illustration-middle.png) no-repeat;
    }
    @media (width <= 767px) {
      position: relative;
      width: 100%;
      background: url(/img/form/illustration-small.png) no-repeat;
      background-size: 100% 100%;
      margin-top: -129px;
      height: 400px;
    }
  }
  &__form {
    @media (width <= 1279px) {
      margin-top: 64px;
    }
    @media (width <= 767px) {
      margin-top: 80px;
      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: center;
      label {
        max-width: 280px;
      }
    }
  }
}
//--------------------------------------------------------------------
@mixin responsive-success-message {
  @media (width <= 1279px) {
    border-radius: 24px;
    padding: 28px 24px;
    img {
      position: absolute;
      top: -45px;
      right: -45px;
    }
    p {
      max-width: 200px;
    }
  }
  @media (width <= 767px) {
    img {
      right: -20px;
    }
  }
}
//--------------------------------------------------------------------
@mixin responsive-subscribe-form {
  &__email-input-wrapper {
    @media (width <= 1279px) {
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
    @media (width <= 767px) {
      align-items: center;
      row-gap: 9px;
      margin-bottom: 9px;
      button {
        max-width: 257px;
        padding: 10px 100px;
      }
      input {
        max-width: 257px;
      }
    }
  }

  &__err-text {
    @media (width <= 1279px) {
      top: -14%;
    }
    @media (width <= 767px) {
      left: 0;
      right: 0;
      text-wrap: nowrap;
      text-align: center;
    }
  }
  &__success-media {
    @media (width <= 1279px) {
      max-width: 300px;
    }
    @media (width <= 767px) {
    }
  }
}
//--------------------------------------------------------------------
@mixin line-background($mobile, $tablet, $desktop, $size, $repeat) {
  background: url($desktop) 100% -20% / $size $repeat;

  @media (width <= 1279px) {
    background: url($tablet) 100% 0% / $size $repeat;
  }
  @media (width <= 767px) {
    background: url($mobile) 100% 0% / $size $repeat;
  }
}
//--------------------------------------------------------------------
@mixin animation-link-underline($color) {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 2px;
    height: 100%;
    width: 100%;
    background-color: $color;
    transform: scaleX(0);
    transform-origin: left;
    @include transition(transform);
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &:not(:hover)::after {
    transform-origin: right;
    transform: scaleX(0);
  }
}
//--------------------------------------------------------------------
@mixin responsive-nav-accordion {
  &__title {
    @media (width <= 767px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;
      height: 29px;
      & img {
        @include transition(transform);
        display: block;
        width: 12px;
      }
    }
  }

  &__list {
    @media (width <= 767px) {
      max-height: 0;
      overflow: hidden;
      & li {
        margin-bottom: 13px;
        max-width: 100%;
      }
      & li:first-child {
        padding-top: 20px;
      }
      & li:last-child {
        padding-bottom: 8px;
      }
    }
  }
  @media (width <= 767px) {
    margin-bottom: 14px;
  }
}
//footer--------------------------------------------------------------------
@mixin responsive-footer {
  @media (width <= 1279px) {
    padding: 0px 0 32px 0;
  }

  &__container {
    @media (width <= 1279px) {
      padding: 64px 32px 64px 32px;
      grid-template-areas:
        "info"
        "social"
        "nav"
        "contacts"
        "hr-line"
        "legal";

      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
      row-gap: 0px;
    }
    @media (width <= 767px) {
      padding: 29px 9px;
    }
  }
  &__logo {
    a div {
      @media (width <= 1279px) {
        width: 173px;
        height: 64px;
        mask-size: contain;
      }
    }
  }
  &__info-wrapper,
  &__nav {
    @media (width <= 1279px) {
      margin: 0;
    }
  }
  &__info-wrapper {
    @media (width <= 1279px) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
    }
    @media (width <= 767px) {
      margin-bottom: 40px;
    }
  }
  &__info {
    @media (width <= 1279px) {
      max-width: 285px;
      margin-bottom: 0;
      img {
        width: 64px;
        height: 64px;
      }
    }
    @media (width <= 767px) {
      max-width: 100%;
    }
  }
  &__nav {
    @media (width <= 1279px) {
      max-width: 100%;
      top: 0;
      margin: 88px 20px 80px 0;
    }
    @media (width <= 767px) {
      margin: 66px 4px 42px 0;
      flex-direction: column;
    }
    @media (width >= 768px) {
      & div:nth-child(2) {
        margin-left: -32px;
      }
      & div:nth-child(3) {
        margin-left: -45px;
        text-wrap: nowrap;
      }
    }
  }
  &__contacts {
    @media (width <= 767px) {
      height: 100%;
      flex-direction: column;
      row-gap: 24px;
      align-items: start;
      margin-bottom: 65px;
      p {
        margin-bottom: 6px;
      }
      li {
        margin: 0px;
      }
    }
  }
  &__socials {
    @media (width <= 1279px) {
      & a {
        margin-left: 0px;
      }
      align-items: start;
      justify-content: space-between;
      max-width: 200px;
      height: auto;
    }
    @media (width <= 767px) {
      margin: 0 auto;
      max-width: 300px;
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
  &__hr-line {
    @media (width <= 1279px) {
      margin: 20px 0;
    }
  }
  &__legal {
    & a {
      @media (width <= 767px) {
        height: 21px;
      }
    }

    & a:not(:last-child) {
      @media (width >= 768px) {
        &::after {
          content: "";
          position: absolute;
          right: -7%;
          top: 39%;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $text-gray;
        }
      }
    }
    @media (width <= 767px) {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }
}
