@use './_fonts.scss';
//----Fonts:
$font-primary: 'Archivo Black', sans-serif;
$font-secondary: 'Nunito', sans-serif;

//s----|Colors:
$primary: #1b1f21;
$text-gray: #757778;
$white-primary: #fcfaf9;
$white: #f2f2f2;
$light-gray: #aeaeae;
$blue: #57acbc;
$red: #fe6d44;
$orange: #ef9700;
$pink: #da3369;
$purple: #9853f4;
$btn-border: #e8e8e8;
//for-Labels
$label-gaming: #bedb39;
$label-fashion: #90eecb;
$label-programming: #a4ccfe;
$label-design: #ec95b1;
$label-marketing: #ffad20;
$label-software: #acd6de;
$label-business: #fe8968;
$label-career: #aedfd6;

//for-Background
$bg-block: #1b1f21;
//end----|

//other
$radius: 20px;
$card-radius: 32px;
$border-btn: 1.2px;
$deg: -4deg;

$gap: 30px;