@use "./_reset.scss";
@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;
@use "./_keyframes.scss";
@use "./_fonts.scss";

#root {
  position: relative;
  min-height: 100%;
}

.__container {
  max-width: 1208px;
  margin: 0 auto;
}
#root.light {
  background-color: $white-primary;
  color: $bg-block;
}

#root.dark {
  background-color: #111411e9;
  color: $white-primary;

  h1,
  h2,
  h3 {
    text-shadow: 0px 0px 2px black;
  }
}

#root {
  @include transition(background-color);
}
.run-line--sub-position {
  margin-top: -130px;
}
.settings {
  &-wrapper {
    position: relative;
    z-index: 200;
    max-width: 1208px;
    margin: 0 auto;
    padding-right: 10px;
    display: flex;
    justify-content: end;
  }
  &--dark {
    .settings__theme-button {
      img {
        filter: brightness(10) drop-shadow(0px 0px 10px rgb(187, 190, 14));
      }
    }
  }
  &__theme-button {
    border-radius: 50%;
    position: fixed;
    top: 90%;
    z-index: 300;
    background-color: transparent;
    img {
      @include transition(all);
      width: 42px;
      padding: 5px;
      filter: drop-shadow(0px 0px 10px rgba(14, 190, 55, 0.517));
    }
    :hover {
      @include transition(all);
      opacity: 80%;
    }
  }
}
