@use "./_reset.scss";
@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;
@use "./_keyframes.scss";
@use "./_fonts.scss";

#root {
  position: relative;
  min-height: 100%;
}

.__container {
  max-width: 1206px;
  margin: 0 auto;
}

body.light {
  background-color: $white-primary;
  color: $bg-block;
}

body.dark {
  background-color: #111411e9;
  color: $white-primary;
}

body {
  @include transition(background-color);
}
