@use "../../assets/styles/_mixins.scss" as *;
@use "../../assets/styles/_variables.scss" as *;

.webinars-block {
  margin-top: -210px;
  @include line-background(
    none,
    "/img/backgrounds/webinars-block-middle.png",
    "/img/backgrounds/webinars-block-big.png",
    contain,
    repeat
  );

  background-color: $bg-block;
  clip-path: polygon(0 26%, 100% 0, 100% 100%, 0 84%);
  * {
    color: $btn-border;
  }

  &__container {
    padding: 235px 0 236px 0;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  &__title {
    display: flex;
    align-self: center;
    color: $white-primary;
    font-size: 46px;
    font-weight: 900;
  }
  &__btn-wrapper {
    display: flex;
    justify-self: end;
  }
  &__cards {
    grid-area: cards;
    margin-top: 81px;
    grid-column: 1 / span 2;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1f);
    column-gap: 40px;
  }
  @include responsive-webinars-block;
}
